/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ededed;
    font-family: sans-serif;
    padding: 0px 15px 10px 0px;
}

.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}
